.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.dummyTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  text-wrap: wrap;
  padding-top: 20px;
  margin-bottom: -20px;
}

.dummyTxt > p {
  width: 550px;
  text-align: center;
}

.dummyImg {
  width: 200px;
  height: 50px;
  object-fit: cover;
}
